{% load texto_limpio %}
{% if partido %}
<article class="partido">
    <div class="etiqueta">{{ etiqueta }}</div>
    <div class="enfrentamiento">
        <div class="equipo local">
            {% if partido.escudo_local %}<img src="{{ partido.escudo_local }}">{% endif %}
            <span>{% if partido.ganador_local %}<b class="estrella-clasificado">&#9733;</b>{% endif %}{{ partido.local }}</span>
        </div>
        <div class="vs">
            <strong>{{ partido.marcador_texto }}</strong>
            {% if partido.tiene_penales %}<small>{{ partido.penales_texto }}</small>{% endif %}
        </div>
        <div class="equipo visitante">
            {% if partido.escudo_visitante %}<img src="{{ partido.escudo_visitante }}">{% endif %}
            <span>{% if partido.ganador_visitante %}<b class="estrella-clasificado">&#9733;</b>{% endif %}{{ partido.visitante }}</span>
        </div>
    </div>
    <div class="meta">
        {{ partido.fecha|date:"d/m/Y" }} &middot; {{ partido.hora|hora_12 }}
        {% if partido.cancha %}&middot; {{ partido.cancha }}{% endif %}
    </div>
</article>
{% else %}
<div class="vacio">{{ etiqueta }}<br>Por definir</div>
{% endif %}
